################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADayAtTheRace/.vs/ADayAtTheRace/v15
/PartyEstimation/.vs/PartyEstimation/v15
