################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADayAtTheRace/.vs/ADayAtTheRace/v15
/PartyEstimation/.vs/PartyEstimation/v15
/head-first-csharp-3nd/.vs/head-first-csharp-3nd/v15/Server/sqlite3/db.lock
